/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1200px;
  margin: 0 auto; /* Cela centre le conteneur horizontalement */
  padding: 0 1%; /* Optionnel : ajoute un peu de padding sur les côtés */
}

body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  background-color: #0044cc;
  color: white;
  padding: 20px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo a {
  display: block;
}

header nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

header nav ul li {
  margin: 0 15px;
}

header nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s ease;
}
a.commande {
  background-color: #008cba; /* Couleur spécifique pour "Ma commande" */
  font-weight: bold; /* Mettre le texte en gras */
  border-radius: 5px; /* Bordure arrondie */
  padding: 12px 20px; /* Plus d'espace autour du texte */
}

/* Effet au survol de "Ma commande" */
 a.commande:hover {
  background-color: #cdc9cf; /* Couleur au survol */
}

header nav ul li a:hover {
  color: #ff6600;
}

/* Style spécifique pour le lien "Ma commande" */
header nav ul li a[href="#"] {
  font-style: italic; /* Exemple de style spécifique pour "Ma commande" */
}

/* Menu mobile (visible sur 960px et moins) */
.menu-mobile {
  display: none;
}

/* Footer Styles */
footer {
  color: #000000;
  /* text-align: center;
  padding: 10px;*/
  width: 100%;
}

/* Responsive Design */
@media screen and (max-width: 1200px) {
  main {
    margin: 0 20px;
  }
}

@media screen and (max-width: 960px) {
  header nav ul {
    display: none; /* Masquer la barre de navigation normale */
  }

  header .menu-mobile {
    display: block; /* Afficher l'icône du menu mobile */
  }

  header .menu-icon {
    background-color: #0044cc;
    color: white;
    border: none;
    font-size: 30px;
    padding: 10px;
    cursor: pointer;
  }
}

@media screen and (max-width: 570px) {
  body {
    padding: 10px;
  }

  main {
    padding: 10px;
  }

  header nav ul {
    flex-direction: column;
    align-items: center;
  }

  footer {
    padding: 5px;
  }
}

/* Point de rupture pour 450px et plus petites tailles */
@media screen and (max-width: 450px) {
  body {
    padding: 5px;
  }

  header {
    padding: 10px 0;
  }

  header nav ul {
    flex-direction: column;
    padding: 0;
  }

  header nav ul li {
    margin: 5px 0;
  }

  main {
    padding: 10px;
  }

  footer {
    padding: 5px;
  }
}
.main {
  padding-top: 40px; /* Espace après le header */
}

/* Presentation Section */
.presentation {
  display: flex;
  align-items: center;
  gap: 20px; /* Espace entre l'image et le titre */
  margin: 20px; /* Ajoute un peu d'espace autour de la section */
}
.presentation2 {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 20px; /* Ajoute un peu d'espace autour de la section */
  flex-direction: column;
  align-items: flex-start;
}

.restaurant-img {
  width: 600px; /* Largeur de l'image */
  height: auto; /* Hauteur automatique pour garder les proportions */
  border-radius: 8px; /* Coins arrondis pour l'image */
}

/* Boutons */
.buttons {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  justify-content: flex-start;

  align-items: center;
}

.button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  text-align: center;
  display: inline-block;
  margin-right: 20px;
}

.button:hover {
  background-color: #45a049;
}

.commander {
  background-color: #008cba; /* Couleur spécifique pour "Commander en ligne" */
}

.commander:hover {
  background-color: #007b9a;
}

.reserver {
  background-color: #f39c12; /* Couleur spécifique pour "Réserver" */
}

.reserver:hover {
  background-color: #e67e22;
}
/*--------------------------------------------------------*/
.reviews {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Espace entre les éléments */
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;

  padding: 20px;
}

.review {
  background-color: #d3ccd6d9;
  padding: 20px;
  width: calc(33% - 20px); /* 3 avis par ligne */
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}
/*  .review  {

                background-color: white;
                border: 1px solid #ddd;
                padding: 20px;
                border-radius: 10px;
                text-align: left;
                padding: 20px;
              }*/

.review p {
  font-size: 1em;
  margin: 10px 0;
}

.review-header {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.user-photo {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 15px;
}

.user-info .user-name {
  font-size: 1.1rem;
  font-weight: bold;
}

.user-info .user-role {
  font-size: 0.9rem;
  color: #777;
}

.review-text {
  font-size: 1rem;
  line-height: 1.6;
  color: #555;
}
.h1Temoignage {
  margin: 0;
  font-family: cursive, sans-serif;
}
/* la page réservation*/
.content {
  width: 100%;

  padding: 0 100px; /* Ajoute 150px de marge intérieure (padding) à gauche et à droite */
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 auto; /* Centre le contenu horizontalement */
  margin-top: 5%;
}

/* Grille des images */
.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 3 colonnes égales */
  gap: 20px;
}

.grid-container img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}
.image1,
.image2 {
 
  width: 100%;
  grid-column: span 1; /* Les images 1 et 2 ont la taille normale */
}

.image3 {
  grid-column: span 2; /* La troisième image occupe 2 colonnes */
}

.image4 {
  grid-column: span 2; /* La quatrième image occupe 2 colonnes */
}

.image5,
.image6 {
 
  grid-column: span 1; /* Les images 5 et 6 prennent 1 colonne */
}

/* Section en bas (informations et iframe) */
.bottom-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
}

/* Informations à gauche */
.left-info {
  width: 300px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding-bottom: 184px;
}

.left-info h2 {
  margin-bottom: 10px;
  color: #333;
}

.left-info p {
  margin-bottom: 20px;
  color: #666;
}

/* Iframe à droite */
.right-iframe {
  flex-grow: 1; /* Prend tout l'espace restant */
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
/*---------------------------------------------------------------------Réservation--------------------------------------------------------------*/
.btn {
  display: inline-block;
  background-color: #0044cc;
  border-radius: 4px;
  padding: 0.6em 2em;
  color: #fff;
  transition: background-color 0.3s;
  margin: 1rem 0;
  text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.6);
}
.btn:hover {
  background-color: #705ccc;
  color: rgb(253, 255, 223);
  text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.9);
}
/*---------------------------------------------------------------------Ma commande--------------------------------------------------------------*/
.divTab {
  max-width: 100%;
}
.ensembleCom {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 10px;

  width: 100%;
}
table {
  width: 80%;
  margin: 20px;
  border-collapse: collapse;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

th,
td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
  color: rgb(0, 0, 0);
}

tr:nth-child(even) /*Mr Laurent, j'ai fait une petite recherche pour les lignes pairs "even" et la selection impair "odd"*/ {
  background-color: #f2f2f2;
}
.facture {
  background-color: white;
  border: 1px solid #ddd;
  margin-top: 15%;
  padding: 20px;
  width: 300px;
  height: 300px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
/* Style pour le titre */
.facture h2 {
  text-align: center;
  margin-bottom: 20px;
}

/* Style pour les paragraphes de la facture */
.facture p {
  margin: 10px 0;
  font-size: 16px;
}

/* Style pour la ligne de séparation */
.facture hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #ddd;
}

/* Style pour le bouton */

/* Effet de survol du bouton */
.facture button:hover {
  background-color: #705ccc;
  color: rgb(253, 255, 223);
  text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.9);
}
button {
  display: inline-block;
  background-color: #0044cc;
  border-radius: 4px;
  padding: 0.6em 2em;
  color: #fff;
  transition: background-color 0.3s;
  margin: 1rem 0;
  text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.6);
}
/* réservation container*/
.containerRes {
  width: 90%; /* Largeur du container (80% de la page) */
  max-width: 1400px; /* Largeur maximale du container */
  margin: 0 auto; /* Centrer le container horizontalement */
  padding: 20px; /* Espacement interne (padding) */
  background-color: #0044cc; /* Couleur de fond du container */
}
.divForm {
  /*display: flex;
    justify-content: center; /* Centre horizontalement */
  align-items: center; /* Centre verticalement */
  width: 100%; /* Largeur du container (80% de la page) */
  /* max-width: 1200px; /* Largeur maximale du container */
  margin: 0 auto; /* Centrer le container horizontalement */
  padding: 20px; /* Espacement interne (padding) */
  background-color: #fff; /* Couleur de fond du container */
  border-radius: 8px; /* Bordure arrondie */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre portée */
}
.h1Reservation {
  text-align: center;
}
/*-----------------------------footer-----------------------------------*/
footer {
  text-align: center;
  padding: 20px;
  margin: 0 auto;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.footerleft {
  text-align: left;
}

.footerright {
  display: flex;
  text-align: right;
  gap: 5px;
  margin: 0%;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: stretch;
  justify-content: space-between;
  align-items: center;
}
.divEns {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: space-between;
  justify-content: space-between;
  align-items: center;
}
.imgic {
  margin-right: 4px;
}
/*les images avec les diapositifs*/
@media (max-width: 768px) {
  main h1 {
    text-align: center;
  }
  .grid-container {
    grid-template-columns: 1fr; /* 1 image per row on mobile */
  }
  .image1,
  .image2 {
  
    width: 40%;
    height: auto;
    grid-column: span 1; /* Les images 1 et 2 ont la taille normale */
  }

  .image3 {
    grid-column: span 1; /* La troisième image occupe 2 colonnes */
    width: 40%;
    height: auto;
  }

  .image4 {
    grid-column: span 1; /* La quatrième image occupe 2 colonnes */
    width: 40%;
    height: auto;
  }

  .image5,
  .image6 {
   
    grid-column: span 1; /* Les images 5 et 6 prennent 1 colonne */
    width: 40%;
    height: auto;
  }
  .bottom-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
    flex-direction: column-reverse;
  }
}

/* Tablette view */
@media (min-width: 769px) and (max-width: 1050px) {
  main h1 {
    text-align: center;
  }
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
